a {
	color: #707070;
}
a:hover {
	background: #555;
	color: #fff;
}

input[type='button']:hover {
	background: #555;
	color: #fff;
}

#header {
	background: #222;
}

#navi {
	background: #fafafa;
}
#navi a {
	color: #404040;
}
#navi a:hover {
	background: #555;
	color: #fff;
}

ul.tabs a.active,
#tabs a.active {
	background: #222;
	color: #fff;
}
ul.tabs a:hover,
#tabs a:hover {
	background: #555;
	color: #fff;
}

.tomato-grid .odd:hover,
.tomato-grid .even:hover {
	background: #ddd;
}
.tomato-grid a {
	color: #606060;
}

.about {
margin:20px 20px;
}
