a {
	color: #405080;
}
a:hover {
	background: #86bf30;
	color: #fff;
}

input[type='button']:hover {
	background: #86bf30;
	color: #fff;
}

#header {
	background: #5C73B8;
}

#navi a {
	color: #405080;
}
#navi a:hover {
	background: #86bf30;
	color: #fff;
}

ul.tabs a.active,
#tabs a.active {
	background: #86bf30;
	color: #fff;
}
ul.tabs a:hover,
#tabs a:hover {
	background: #96bf70;
	color: #fff;
}

.tomato-grid .odd:hover,
.tomato-grid .even:hover {
	background: #86bf30;
	color: #fff;
}
.tomato-grid tr:hover a {
	background: #96bf70;
	color: #ffc;
}
.tomato-grid tr:hover a:hover {
	background: #5C73B8;
	color: #fff;
}
.tomato-grid a {
	color: #405080;
}

.about {
margin:20px 20px;
}
