body {
     background-color: #FFCC66;
     background-image: url(flamebackground.png);
     background-position: center bottom;
     background-repeat: repeat;
}

#container {
     border: 3px solid #FFFFFF;
}

a {
     color: #FFFFFF;
     font-family: 'Trebuchet MS',verdana,sans-serif;
}

a:hover {
     background: none repeat scroll 0% 0% transparent;
     color: #FF9933;
     text-decoration: underline;
}

input[type="button"]:hover {
     background: none repeat scroll 0% 0% #FF9933;
     color: #FFFFFF;
}

#header {
     background-color: #FFCC66;
     background-image: url(flamelogo.png);
     background-position: right center;
     background-repeat: no-repeat;
     border-bottom: 3px solid #333333;
}

#header .title {
     color: #FF9933;
     font: bold 50px 'Trebuchet MS',Sans-serif;
     letter-spacing: -2px;
     margin: 0pt;
     padding: 0pt;
}

#header .version {
     color: #FFFFFF;
     font: bold 20px 'Trebuchet MS',Sans-serif;
     letter-spacing: -2px;
     margin: 0pt;
     padding: 0pt;
}

#ident {
     color: #000000;
     font: bold 12px 'Trebuchet MS',Sans-serif;
     padding-right: 5px;
     text-align: right;
}

#ident:before {
     content: "Your Router is named: ";
}

#navi {
     background: none repeat scroll 0pt 0pt #000000;
     border-color: #C0C0C0;
     border-style: solid;
     border-width: 10px 0pt 10px 10px;
     font-family: 'Trebuchet MS',Tahoma,Sans-serif;
}

#navi a {
     color: #FFFFFF;
     font-family: 'Trebuchet MS',Tahoma,Sans-serif;
}

#navi a:hover {
     background: none repeat scroll 0% 0% #FF9933;
     color: #FFFFFF;
     text-decoration: none;
}

#navi .active {
     color: #FF9933;
}

#tabs a {
     font-family: 'Trebuchet MS',Tahoma,Sans-serif;
}

#tabs a.active {
     background: none repeat scroll 0% 0% #CC9933;
     color: #FFFFFF;
}

#tabs a:hover {
     background: none repeat scroll 0% 0% #FFCC66;
     color: #FFFFFF;
}

.tomato-grid .odd:hover, .tomato-grid .even:hover {
     background: none repeat scroll 0% 0% #DDDDDD;
}

.tomato-grid a {
     color: #606060;
}

#content {
     background-color: #C0C0C0;
     border: 15px solid #C0C0C0;
}

.content {
     font-family: 'Trebuchet MS',Tahoma,Sans-serif;
}

.content a:hover {
     background-color: #FAFAFA;
     color: #006699;
     text-decoration: underline;
}

.fields {
     background-color: #FFFFFF;
     border-radius: 10px 10px 10px 10px;
     border: 2px solid #000000;
     font-family: 'Trebuchet MS',Tahoma,Sans-serif;
     margin: 5px 5px 5px 0px;
}

.fields td.title.indent1 {
     font-family: 'Trebuchet MS',Tahoma,Sans-serif;
     padding: 1px 15px 1px 0pt;
}

.fields td.title.indent2 {
     font-family: 'Trebuchet MS',Tahoma,Sans-serif;
     padding: 1px 5px 1px 10px;
}

.section {
     font-family: 'Trebuchet MS',Tahoma,Sans-serif;
}

.section-title {
     color: #FFFFFF ! important;
     font: bold 1.5em 'Trebuchet MS',Tahoma,Sans-serif ! important;
}

small {
     font-family: 'Trebuchet MS',Tahoma,Sans-serif;
}

input, select {
     font-family: 'Trebuchet MS',Tahoma,Sans-serif;
     font-size: 12px;
}

input[type="checkbox"][disabled] {
     opacity: 0.3;
}

input[type="text"], input[type="password"] {
     margin: 1px;
     padding: 0pt;
}

input[type="checkbox"] {
     background: none repeat scroll 0% 0% #000000;
     border: 1px solid #CCCCCC;
     margin: 1px 0pt 2px;
     padding: 0pt;
}

input[type="radio"] {
     margin-left: 0pt;
     padding-left: 0pt;
}

select {
     margin: 0pt;
}

input[type="button"] {
     background: none repeat scroll 0% 0% #FFCC66;
     border: 1px solid #CCCCCC;
     color: #333333;
     font: bold 1em Arial,Sans-serif;
     margin: 0pt;
     padding: 2px 3px;
}

input[type="button"]:hover {
     background: none repeat scroll 0% 0% #FF9933;
     color: #FFFFFF;
}

label {
     display: block;
     font-weight: bold;
     margin: 5px 0pt;
}

input {
     border: 1px solid #655E56;
     color: #777777;
     font: 1em 'Trebuchet MS',verdana,sans-serif;
     padding: 2px;
}

textarea {
     border: 1px solid #655E56;
     color: #000000;
     display: block;
     font: 1em 'Trebuchet MS',verdana,sans-serif;
     height: 100px;
     padding: 2px;
     width: 400px;
}

#footer {
     background: url(flamefooter.png) no-repeat scroll left 50% #F5F5FF;
     border-top: 2px solid #000000;
     height: 1px;
     padding: 4px;
     text-align: right;
}

form {
     border-radius: 35px 35px 35px 35px;
}

input[type="text"], input[type="password"], textarea, select {
     background-color: #F5EFEB;
     border: 1px solid #6D5434;
     color: #4E3525;
     height: 18px;
     margin: 0px 2px 0px 0px;
}

input[type="text"], input[type="password"], textarea {
     max-width: 99%;
     padding-left: 3px;
     padding-right: 3px;
}

li, div {
     font-family: 'Trebuchet MS',Tahoma,Sans-serif;
}
