[Unit]
Description=A lightweight DHCP and caching DNS server
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStartPre=%%BINDIR%%/dnsmasq --test
ExecStart=%%BINDIR%%/dnsmasq --keep-in-foreground --listen-address=127.0.0.1
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
