body, html, #wrapper {width: 100%; height: 100%;}
body, html, form, h1 { margin: 0; padding: 0; }

body {
background: #121b1d url(tomatousb_bg.png);
font: 14px Tahoma, Arial, sans-serif;
width: 100%;
height: 100%;
}

a {
color: #e02600;
}

a:hover {
padding: 3px;
text-decoration:none;
color: #fff;
background: #e02600;
}

img { border: 0; padding-top: 8px; float: right; }

#splash {
width: 520px;
margin: 0 auto;
padding-top: 10px;
position: relative;
}

#splash_header {
position: relative;
background-color: #2f3d40;
padding: 8px;
}

#splash_header h1 {
/* font: 28px 'Century Gothic', Tahoma, Arial, Sans-serif; */
font-size: 28px;
text-align: center;
color: #919EA1;
}

#splash_content {
color: black;
background-color: white;
padding: 15px;
}

textarea {
white-space: pre-wrap;
word-wrap: break-word;
font: 12px monospace;
width: 96%;
height: 230px;
min-width: 96%;
min-height: 230px;
padding: 10px;
}

form { -webkit-box-align: center; text-align: center; }

button  {
font: bold 1em Arial, Sans-serif;
color: #919EA1;
width: 200px;
padding: 4px;
margin-top: 15px;
background: #283033;
border: 1px solid #CCC;
}

button:hover {
color: white;
background: #E02600;
}

div#status{
background: #ededed;
}

iframe {
border: 0;
border-spacing: 0;
}

#footer {
color: #919EA1;
margin: 0;
text-align: center;
padding-top: 8px;
}