/* Fonts */
@font-face {
	font-family: 'Roboto';
	src: local('Roboto Medium'), local('Roboto-Medium'), url('fonts/Roboto-Medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto'), local('Roboto Regular'), local('Roboto-Regular'), url('fonts/Roboto-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "advancedtomato";
	src:url("fonts/advancedtomato.eot");
	src:url("fonts/advancedtomato.eot?#iefix") format("embedded-opentype"),
		url("fonts/advancedtomato.woff") format("woff"),
		url("fonts/advancedtomato.ttf") format("truetype"),
		url("fonts/advancedtomato.svg#advancedtomato") format("svg");
	font-weight: normal;
	font-style: normal;

}

/* CSS */
html { font-size: 62.5%; }
body {
	font-size: 10pt;
	font-family: "Roboto", sans-serif;
	color: #76838f;
	line-height: 1.42857;
	background-color: #f1f4f5;
	min-width: 960px;
}

/* Replace some general styles (b, h1-h6, etc...) */
a {
	color: #45657C;
	text-decoration: none;
	outline-style: none;
	outline-width: 0;
}

a:hover, a:active {
	color: #8DBDF1;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	font-weight: 500;
	line-height: 1.1;
	color: #37474f;
}

h1, .h1 { font-size: 24px; margin: 0 0 10px; }
h2, .h2 { font-size: 20px; margin: 0 0 10px; }
h3, .h3 { font-size: 16px; margin: 0 0 10px; }
h4, .h4 { font-size: 16px; }
h5, .h5 { font-size: 15px; }
h6, .h6 { font-size: 12px; }

hr { margin: -5px 0 15px; border: 0; border-bottom: 1px dashed #EEE; }
small { font-size: 80%; }
.align { display: block; }
.align.center, .centered { text-align: center; }
.bold, b { font-weight: 500; }

/* General Text styles */
.text-center { display: block; text-align: center; }
.text-orange { color: #c0392b; }
.text-green { color: #27ae60; }
.text-red { color: #c0392b; }
.text-blue { color: #2980b9; }

/* Reset all elements to box-sizing: border-box; sort of crossbrowser fix! */
* { box-sizing: border-box; }
*:before,*:after { box-sizing: border-box; }
.pull-right { float: right; }
.pull-left { float: left; }

/* Fluids */
.span1 { width: 10% !important; }
.span2 { width: 20% !important; }
.span3 { width: 30% !important; }
.span4 { width: 40% !important; }
.span5 { width: 50% !important; }
.span6 { width: 60% !important; }
.span7 { width: 70% !important; }
.span8 { width: 80% !important; }
.span9 { width: 90% !important; }
.span10 { width: 100% !important; }


/* Header Design */
.top-header {
	display: block;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;  /* Performance Improvement */
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);  /* Font Rendering FIX */
	z-index: 3;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.top-header .logo {
	display: inline-block;
	float: left;
	height: 60px;
	width: 240px;
	line-height: normal;
	background: #3498DB;
	text-align: center;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: width 600ms cubic-bezier(1.000, -0.600, 0.000, 1.650);
	-webkit-transition: width 600ms cubic-bezier(1.000, -0.600, 0.000, 1.650);
}

.top-header .logo h1 {
	display: inline-block;
	color: #fff;
	font-weight: 500;
	font-size: 14pt;
	margin: 12px 0 4px 0;
	padding: 0;
}

.top-header .logo h2 {
	color: #fff;
	font-weight: normal;
	display: block;
	font-size: 10pt;
	padding: 0;
	margin: -4px 0 0;
	text-shadow: 0 1px 0 rgba(0,0,0, 0.15);
}

.top-header .logo svg { display: none; margin: -8px 0 0 -10px; padding:0; vertical-align: middle; }

.top-header .left-container {
	float: left;
	display: inline-block;
	height: 100%;
	margin-left: 10px;
	line-height: 60px;
}

.top-header .left-container a {
	font-size: 14px;
	font-weight: normal;
	color: #777;
	line-height: 100%;
}

.top-header .left-container a:hover {
	color: #000;
}

.top-header .links {
	position: relative;
}

.top-header > .links > ul > li > a {
	display: inline-block;
	color: #696969;
	border-bottom: 2px solid transparent;
	padding: 0 15px;
	height: 60px;
	line-height: 60px;
	transition: all 150ms ease;
	-webkit-transition: all 150ms ease;
}

.top-header > .links > ul > li > a:hover,
.top-header > .links > ul > li a.active {
	color: #000;
	background: rgba(0, 0, 0, 0.02);
	border-color: #3498DB;
}

.top-header .links > ul {
	list-style: none;
}

.top-header .links > ul > li {
	margin: 0 0 0 -4px;
	padding: 0;
	display: inline-block;
}

.top-header .links li a i {
	padding-left: 2px;
	font-size: 16px;
	margin-top: -4px;
}


/* System UI dropdown */
.system-ui {
	display: block;
	position: absolute;
	background: #fff;
	padding: 0;
	width: 340px;
	top: 65px;
	right: 10px;
	border-radius: 4px;
	display: none;
	z-index: 1;
	border: 1px solid #e4eaec;
	box-shadow: 0 3px 12px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 3px 12px rgba(0,0,0,.05);
}

.system-ui .router-name {
	display: block;
	font-size: 14px;
	font-weight: 500;
	color: #656565;
	border-bottom: 1px solid #e4eaec;
	padding: 14px 18px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.system-ui .router-name small {
	margin-top: 2px;
}

.system-ui .router-control {
	text-align: center;
	padding: 15px 15px;
}

.system-ui .inner-container {
	margin: 0;
	padding: 5px 18px;
	border-bottom: 1px solid #e4eaec;
}

.system-ui .inner-container .col-sm-10 {
	padding: 5px 0;
}

.system-ui .inner-container .col-sm-2 {
	padding: 5px 0;
	font-weight: 500;
}

.system-ui .leftblock {
	vertical-align: middle;
	display: inline-block;
	width: 40px;
	margin-right: 10px;
	padding: 7px 0;
}

.system-ui .rightblock {
	display: inline-block;
	vertical-align: middle;
	width: 245px;
}

/* Navigation */
.navigation {
	display: block;
	position: fixed;
	left: 0;
	top: 60px;
	bottom: 0;
	width: 240px;
	background: #2b323a;
	z-index: 2;
	overflow: auto;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;  /* Performance Improvement */
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);  /* Font Rendering FIX */
	transition: width 600ms cubic-bezier(1.000, -0.600, 0.000, 1.650);
	-webkit-transition: width 600ms cubic-bezier(1.000, -0.600, 0.000, 1.650);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation li {
	position: relative;
}

.navigation li a {
	position: relative;
	display: block;
	color: #969ba0;
	text-shadow: 0px 1px 3px #222;
	font-size: 10pt;
	font-weight: 500;
	padding: 10px 25px;
	vertical-align: middle;
	-webkit-transition: background 80ms ease, color 80ms ease;
	        transition: background 80ms ease, color 80ms ease;
}

.navigation li a i {
	font-size: 15px;
	margin-right: 7px;
}

.navigation li ul {
	display: none;
	margin: 0;
	background: #2b323a;
}

/* Dropdown, or w/e */
.navigation li ul li:first-child:before {
	top: 5px;
}

.navigation li ul li:before {
	content: "";
	left: 30px;
	top: -15px;
	bottom: 15px;
	position: absolute;
	display: block;
	width: 1px;
	border-left: 1px dashed #606c77;
	z-index: 1;
}

.navigation li ul li a:before {
	content: "";
	left: 30px;
	top: 15px;
	position: absolute;
	display: block;
	width: 15px;
	border-bottom: 1px dashed #606c77;
	z-index: 1;
}

.navigation li ul li a {
	font-size: 12px;
	font-weight: normal;
	padding: 5px 0 5px 55px;
}

/* Hover & Active States */
.navigation li ul li.active a:after { background-color: #3498DB; }
.navigation .active > a { color: #fff; }
.navigation li ul li.active > a { background: rgba(0,0,0,0.15); }
.navigation > ul > li > a:hover {
	color: #fff;
	background: rgba(255,255,255,0.05);
}

.navigation .active > a > i,
.navigation > ul > li > a:hover > i {
	color: #3498DB;
}

.navigation li ul li a:hover {
	color: #fff;
	background: rgba(255,255,255,0.05);
}

/* Footer */
.navigation > ul {
	position: relative;
	padding-bottom: 40px;
	min-height: 100%;
}

.navigation .nav-footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	min-height: 30px;
	line-height: 1;
	padding: 10px;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.navigation .nav-footer i:before { font-size: 18px; top: -1px; left: -1px }

/* Collapse Logo/Navigation and extend content */
.top-header .logo.collapsed {
	width:60px;
}

.top-header .logo.collapsed svg {
	margin:15px 0 0;
	display: inline-block;
}

.navigation.collapsed {
	width:60px;
	overflow:visible;
}

.navigation.collapsed .icons-desc {
	display:none;
}

.navigation.collapsed li a i {
	font-size:20px;
}

.navigation.collapsed > ul > li > a {
	text-align:center;
	padding:14px 18px;
	color: #919292;
}

.navigation.collapsed li:hover ul {
	display:block!important;
	top:40px;
}

.navigation.collapsed li:hover > a {
	color: #fff !important;
	background: rgba(255,255,255,0.05);
}

.navigation.collapsed li:hover .icons-desc {
	display: block!important;
	position: absolute;
	text-align: left;
	left: 100%;
	top: 0;
	font-weight: normal;
	line-height: 40px;
	width: 200px;
	color: #FFF;
	background: none repeat scroll 0 0 #2b323a;
	z-index: 4;
	padding: 0 20px;
	border-top-right-radius: 3px;
}

.navigation.collapsed li ul li a {
	width:200px;
	padding: 6px 0 6px 35px;
}

.navigation.collapsed li ul {
	display:none!important;
	width:200px;
	position:absolute;
	height:auto;
	left:100%;
	border-bottom-right-radius: 3px;
}

.navigation.collapsed li ul li:before {
	left: 15px;
}

.navigation.collapsed li ul li a:before {
	left: 15px;
	width: 15px;
}

.navigation.collapsed .active > a > i,
.navigation.collapsed > ul > li > a:hover > i {
	color: #969ba0;
}

/* Content Design */
#wrapper > .container {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 60px;
	padding: 20px 40px;
	height: auto;
	overflow-y: auto;
	overflow-x: visible;
	z-index: 1;
	min-width: 720px;
	margin-left: 240px;
	transition: margin 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550) 150ms;
	-webkit-transition: margin 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550) 150ms;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;  /* Performance Improvement */
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);  /* Font Rendering FIX */;
}

#wrapper > .container .debug {
	font-size: 12px;
	background: #fafafa;
	border: 1px solid #F5F5F5;
	padding: 10px;
	border-radius: 2px;
}

#wrapper > .container:after {
	content: "";
	display: table;
	clear: both;
}

#wrapper .container ul {
	margin: 10px 15px;
}

#wrapper .container ul li {
	margin: 0 20px;
}

.action-area {
	float: right;
	display: inline-block;
}

.fluid-grid {
	-moz-column-count:1;
	-moz-column-gap: none;
	-moz-column-width: auto;
	-webkit-column-count:1;
	-webkit-column-gap: none;
	-webkit-column-width: auto;
	-webkit-column-count: 1;
	   -moz-column-count: 1;
	        column-count: 1;
	-webkit-column-gap: none;
	   -moz-column-gap: none;
	        column-gap: none;
	-webkit-column-width: auto;
	   -moz-column-width: auto;
	        column-width: auto;
	margin: 0 0 10px;
}

.fluid-grid .box {
	display: inline-block;
	width: 100%;
	margin: 8px 0;
}

.fluid-grid.x3 {
	-moz-column-count:2;
	-moz-column-gap: 15px;
	-moz-column-width: 50%;
	-webkit-column-count:2;
	-webkit-column-gap: 15px;
	-webkit-column-width: 50%;
	-webkit-column-count: 2;
	   -moz-column-count: 2;
	        column-count: 2;
	-webkit-column-gap: 15px;
	   -moz-column-gap: 15px;
	        column-gap: 15px;
	-webkit-column-width: 50%;
	   -moz-column-width: 50%;
	        column-width: 50%;
}

.box {
	display: block;
	padding: 0;
	margin: 0 0 15px;
	background: #fff;
	border: 1px solid transparent;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	vertical-align: top;
	border-radius: 4px;
}

.box .heading {
	display: block;
	font-size: 12pt;
	font-weight: 500;
	line-height: normal;
	color: #656565;
	padding: 15px 10px 15px 20px;
	vertical-align: middle;
}

.box .heading small {
	margin-left: 5px;
	vertical-align: baseline;
}

.box .heading a {
	color: #838c91;
	margin: -10px 0 0 0;
	padding: 8px 12px;
}

.box .heading a:hover {
	color: #000;
}

.box .content {
	padding: 0 20px 15px;
	display: block;
}

.box .content:after {
	display: table;
	content: "";
	clear: both;
}

.box.small {
	max-width: 960px;
}

.box.box-fluid {
	width: auto !important;
	display: block;
}

.box h2, .box h3, .box h4 {
	padding: 0;
	margin: 8px 0;
}

/* Dropdowns (here because of header) */
ul.dropdowns { list-style: none; }
ul.dropdowns > li { position: relative; display: inline-block; }
ul.dropdowns > li ul { display: none; position: absolute; left: -10px; z-index: 40; width: 200px; background: #fff; border-radius: 2px; overflow-y: hidden; overflow-x: auto; }
ul.dropdowns > li ul li { display: block; line-height: normal; margin: 0; }
ul.dropdowns > li ul li a { display: block; padding: 5px 10px; }

.dropdowns li:hover > ul { display: block; }
.dropdowns li ul a:hover { background: #f0f0f0; }

/* Style Tables */
table {
	position: relative;
	display: table;
	width: 100%;
	margin: 0;
}

table th {
	font-weight: 500;
}

/* Nice Lined Tables */
table.line-table tr {
	display: table-row;
	border-top: 1px solid #e4eaec;
	transition: background-color 75ms ease;
	-webkit-transition: background-color 75ms ease;
}

table.line-table tr:first-child { border: 0; }
table.line-table .progress { margin: 1px 15px; }
table.line-table tr:nth-child(even) {
	background: rgba(243,247,249,.3);
}

table.line-table tr:hover {
	background: #f3f7f9;
}

table.line-table tr:hover .progress {
	background: #e0e0e0;
}

table.line-table tr.editor {
	background: transparent !important;
}

table.line-table tr.controls {
	background: rgba(243,247,249,.3) !important;
}

table.line-table tr:first-child,
table.line-table.static tr {
	background: transparent;
}

table.line-table tr th {
	display: table-cell;
	padding: 8px;
	font-weight: 500;
	text-align: left;
}

table.line-table tr td {
	display: table-cell;
	width: inhert;
	padding: 10px 6px;
	vertical-align: middle;
}

#table-row-panel {
	text-align: right;
	right: 0;
	display: block;
	position: absolute;
}

#table-row-panel a.move-up-row, #table-row-panel a.move-down-row, #table-row-panel a.move-row, #table-row-panel a.delete-row  {
	float: left;
	font-size: 10px;
	text-align: center;
	padding: 2px;
	color: #fff;
	background: #585858;
	width: 20px;
	height: 20px;
	transition: background-color 80ms ease;
	-webkit-transition: background-color 80ms ease;
}

#table-row-panel a.move-up-row:hover, #table-row-panel a.move-down-row:hover, #table-row-panel a.move-row:hover, #table-row-panel a.delete-row:hover {
	background: #434343;
}

#table-row-panel a.delete-row {
	background: #F76D6A;
}

#table-row-panel a.delete-row:hover {
	background: #eb4d4a;
}

#table-row-panel a.move-row {
	background: #4EA5E0;
}

#table-row-panel a.move-row:hover {
	background: #3092d0;
}

#table-row-panel a:first-child {
	border-bottom-left-radius: 3px;
}

/* Data Tables */
table.data-table { margin: 0; }
table.data-table tr td { display: table-cell; padding: 5px 0; }
table.data-table.dataonly tr td:first-child { width: 40%; }
table.data-table.other { margin: 5px 10px; }
table.data-table.bwm-info { margin: 15px 5px; }
table.data-table.bwm-info tr td { vertical-align: middle; }

/* Field Tables */
table.fields-table {
	width: 100%;
	max-width: 800px;
}

table.fields-table tr td {
	display: table-cell;
	padding: 8px 0;
	vertical-align: middle;
}

table.fields-table tr td:first-child {
	width: 25%;
	min-width: 200px;
}

table.fields-table select { min-width: 180px; }

/* Other extra styles */
table.td-large tr td { }

table .controls, table.line-table tr.controls { box-shadow: none; -webkit-box-shadow: none; border: 0; padding: 0; margin: 0; }
table .controls:hover, table.line-table tr.controls:hover { background: transparent; }
table .controls td, table.line-table tr.controls td { padding: 8px 4px; }

table tr.editor td { margin: 0;}
table tr.editor td input:not([type='checkbox']),
table tr.editor td select,
table tr.editor td textarea {
	padding: 5px 4px;
	width: 100%;
}

table .header {
	color: #646464; 
	font-weight: 500;
	cursor: pointer;
}

/* Buttons design */
.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 0;
	white-space: nowrap;
	padding: 8px 16px;
	margin: 0;
	font-size: 10pt;
	font-weight: normal;
	line-height: normal !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration:none;

	color: #ffffff !important;
	background: #536270;
	transition: background-color 150ms ease, color 150ms ease;
	-webkit-transition: background-color 150ms ease, color 150ms ease;
	border-radius: 3px;
	border: 1px solid transparent;
}

.btn:hover,
.btn:focus,
.btn.active {
	background: #617486;
	color: #fff;
}

.btn.disabled,
.btn[disabled] {
	pointer-events: none;
	cursor: not-allowed;
	box-shadow: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
}

.btn.btn-primary {
	color: #fff !important;
	background-color: #51aded;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
	color: #fff !important;
	background: #60b7f4;
}

.btn.btn-danger {
	color: #fff !important;
	background: #ed5153;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus {
	background: #ff5355;
}

.btn.btn-success {
	color: #fff !important;
	background: #67ba2f;
}

.btn.btn-success:hover,
.btn.btn-success:focus {
	background: #6cc92e;
}

.btn.btn-link {
	color: #919293 !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	background: transparent;
	border: 0;
	padding: 8px 10px;
}

.btn.btn-link:hover,
.btn.btn-link:focus {
	color: #fff !important;
}

/* BTN Tabs */
.btn.btn-tab {
	color: #535353 !important;
	background: #FAFAFA;
	box-shadow: none;
	line-height: 1.2;
	border: 1px solid #f0f0f0;
	border-width: 1px 0 0 1px;
}

.btn.btn-tab:hover,
.btn.btn-tab:focus,
.btn.btn-tab.active {
	background: #f0f0f0;
}

/* Other btn styles */
.btn b { color: #fff !important; }
button.btn { height: 34px; font-family: "Roboto"; font-weight: 400 !important; vertical-align: middle; outline: 0; outline-style: none; }
.btn-small { font-size: 8pt; font-weight: normal; padding: 4px 10px !important; vertical-align: middle; }

.btn-group {
	white-space: no-wrap;
	font-size: 0px;
}

.btn-group > .btn {
	margin: 0 -1px 0 0;
	border-radius: 0;
}

.btn-group > .btn:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.btn-group > .btn:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

/* Alert Boxes */
.alert {
	position: relative;
	color: #96904D;
	padding: 15px 40px 15px 15px;
	margin: 0 0 15px;

	border-radius: 2px;

	box-shadow: inset 0 -2px 0 rgba(0,0,0,0.05);
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.05);
	background-color: #3498DB;
}

.alert.icon {
	padding: 15px 40px 15px 75px;
}

.alert.icon:after {
	display: block;
	position: absolute;
	width: 58px;
	height: 72px;
	line-height: 72px;
	text-align: center;
	top: 50%;
	left: 10px;
	margin-top: -36px;
	content: " ";
	font-family: "advancedtomato" !important;
	font-size: 38px;
}

a.close {
	position: absolute;
	top: 15px;
	right: 15px;
	margin-top: -10px;
	padding: 2px;
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
	transition: opacity 150ms ease;
	-webkit-transition: opacity 150ms ease;
}

.alert a { text-decoration: underline; }
a.close:hover { opacity: 1; filter: alpha(opacity=100); }
.alert h5 { display: block; margin: 0 0 0; padding: 0; }

/* Success */
.alert.alert-success { background-color: #DEFCD5; color: #52A954; }
.alert.alert-success * { color: #52A954; }
.alert.icon.alert-success:after { content: "\E006"; }

/* Info */
.alert.alert-info { background-color: #E6F4F9; color: #4D8796; }
.alert.alert-info * { color: #4D8796; }
.alert.icon.alert-info:after { content: "\E027"; }

/* Warning */
.alert.alert-warning { background-color: #F6F3D5; color: #96904D; }
.alert.alert-warning * { color: #96904D; }
.alert.icon.alert-warning:after { content: "\e01e"; }

/* ERROR */
.alert.alert-error { background-color: #F1D7D7; color: #A95252; }
.alert.alert-error * { color: #A95252; }
.alert.icon.alert-error:after { content: "\E02B"; }


#footer-msg { vertical-align: middle; padding: 10px 40px 10px 15px; min-height: 35px; }

/* Progress Bars */
.progress {
	vertical-align: middle;
	display: block;
	height: 4px;
	padding: 0;
	margin: 0;
	background: #e4eaec;
	border-radius: 1px;
	overflow: hidden;
}

.progress .bar {
	display: block;
	width: 20%;
	height: 100%;
	padding:0;
	margin: 0;
	background: #62a8ea;
	transition: width 200ms ease;
	-webkit-transition: width 200ms ease;
}
.progress .bar.warning { background: #FB7D00; }
.progress .bar.success { background: #38F00B; }
.progress .bar.danger {	background: #E24618; }

/* Tabs */
ul.nav-tabs {
	display: block;
	height: 40px;
	list-style: none;
	margin: 0 0 15px !important;
	white-space:nowrap;
	border-bottom: 2px solid rgba(0,0,0,0.08);
	background: rgba(255,255,255,0.6);
}

ul.nav-tabs li {
	display: inline-block;
	float: left;
	height: 40px;
	line-height: 40px;
	margin: 0 !important;
}

ul.nav-tabs li a {
	display: block;
	padding: 0 15px;
	height: 40px;
	font-weight: normal;
	line-height: 40px;
	color: #808080;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	transition: all 100ms ease;
	-webkit-transition: all 100ms ease;
	border-bottom: 1px solid transparent;
}

ul.nav-tabs li a:hover,
ul.nav-tabs li a:focus,
ul.nav-tabs li a.active {
	z-index: 999;
	color: #777777;
	background: rgba(0,0,0,0.05);
	border-bottom: 2px solid rgba(0,0,0,0.05);
}

ul.nav-tabs li a.active {
	border-bottom: 2px solid #3498DB;
	background: transparent;
}

ul.nav-tabs li a i {
	margin-right: 2px;
}

/* Forms etc */
label {
	display: inline-block;
	color: #656565;
	cursor: pointer;
	vertical-align: baseline;
}

label.control-label {
	text-align: right;
	padding-top: 9px;
}

label.control-left-label {
	text-align: left;
	padding-top: 10px;
}

fieldset {
	padding-bottom: 9px;
	padding-top: 4px;
	border-bottom: 1px dashed #EEE;
	margin-bottom: 5px;
	margin-left: -15px;
	margin-right: -15px;
}

fieldset legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #919292;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

fieldset:last-child {
	border-bottom: 0px none;
}

fieldset h5 {
	margin-top: 20px;
}

fieldset .help-block {
	display: inline-block;
	vertical-align: middle;
	margin: -4px 5px 0;
	color: #A5A5A5;
}

fieldset .text-block {
	padding-top: 7px;
}

form { margin-bottom: 20px; }
input, select, textarea {
	color: #76838f;
	padding: 6px 10px;
	margin:0;
	height: 34px;
	line-height: normal;
	font-size: 10pt;
	font-family: "Roboto", sans-serif, Helvetica, Arial, sans-serif;
	border: 1px solid #e4eaec;
	background-color: #fff;
	transition: color 150ms ease, border-color 150ms ease, opacity 150ms ease;
	-webkit-transition: color 150ms ease, border-color 150ms ease, opacity 150ms ease;
	outline-style: none;
	vertical-align: baseline;
	border-radius: 3px;
}

input:hover, select:hover, textarea:hover {
	border-color: #d1e5f2;
}

input:focus, select:focus, textarea:focus {
	color: #000;
	border-color: #3498DB;
}

input:disabled, select:disabled, textarea:disabled {
	opacity: 0.65;
	filter: alpha(opacity=65);
	cursor: not-allowed;
	color: #7c7c7c;
	border: 1px solid #f0f0f0;
}

textarea { resize:vertical !important; }
select, select option { cursor: pointer; }

.c-checkbox,
.c-radio {
	display: inline-block;
	margin: 7px 2px 5px;
}

.c-checkbox *,
.c-radio * {
	cursor: pointer;
}

.c-checkbox input,
.c-radio input {
	opacity: 0;
	filter: alpha(opacity=0);
	height: auto !important;
	position: absolute;
	margin-left: 0 !important;
}

.c-checkbox span,
.c-radio span {
	position: relative;
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 2px;
	border: 1px solid #e4eaec;
	background: #fff;
	transition: all 250ms ease;
	-webkit-transition: all 250ms ease;
	vertical-align: middle;
	margin-right: 2px;
}

.c-checkbox:hover span,
.c-checkbox input:hover + span,
.c-radio:hover span,
.c-radio input:hover + span {
	border-color: #3498db;
	background: #fff;
}

/* override for radio */
.c-radio span {
	border-radius: 50%;
}

/* the icon */
.c-checkbox span:before,
.c-radio span:before {
	color: #fff;
	position: absolute;
	font-family: "advancedtomato" !important;
	content: "\e006";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	text-align: center !important;
	font-size: 12px;
	line-height: 20px;
	vertical-align: middle;
	-ms-transform: scale(1.5);
	    transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transition: all 250ms ease;
	-webkit-transition: all 250ms ease;
}

/* Checked state */
input[type=checkbox]:checked + span:before,
input[type=radio]:checked + span:before {
	color: #fff;
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-transform: scale(1);
	    transform: scale(1);
	-webkit-transform: scale(1);
}

input[type=checkbox]:checked + span,
input[type=radio]:checked + span {
	border-color: #3498db;
	background-color: #3498db;
}

input[type=radio]:checked + span {
	background-color: transparent !important;
}

/* override for radio */
input[type=radio]:checked + span {
	background-color: #fff;
}
input[type=radio]:checked + span:before {
	color: #3498db;
}
/* Disable state */
input[type=checkbox]:disabled + span,
input[type=radio]:disabled + span {
	pointer-events: none;
	border-color: #dddddd !important;
	background-color: #dddddd !important;
}
/* override for radio */
input[type=radio]:disabled + span {
	pointer-events: none;
	background-color: #fff !important;
}
input[type=radio]:disabled + span:before {
	color: #dddddd;
}

/* Input appends */
.input-append { 
	line-height: 0px;
	vertical-align: middle;
	margin: 4px 0;
}

.input-append .btn {
	margin: 0;
	vertical-align: middle;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.input-append input,
.input-append select {
	vertical-align: middle;
	padding: 8px 10px;
	margin: 0 -4px 0 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0; 
}

/* custom upload elements */
.customfile  {
	vertical-align: middle;
	display:  inline-block;
	cursor:  pointer;
	overflow:  hidden;
	position: relative;
	transition: none;
	-webkit-transition: none;
}

.customfile-input  {
	position:  absolute;
	height:  100px;
	cursor:  pointer;
	background:  transparent;
	border:  0;
	opacity:  0;
	filter: alpha(opacity=0);
	-moz-opacity:  0;
	z-index:  999;
	transition: none;
	-webkit-transition: none;
}

.customfile-disabled  {
	pointer-events: none;
	opacity:  .5;
	filter: alpha(opacity=50);
	cursor:  default;
}

.customfile-text  {
	display: block;
	font-size: 10pt;
	line-height: normal;
	height: 34px;
	float: left;
	overflow: hidden;
	width: 280px;
	margin:  0 -1px 0 0;
	color:  #313131;
	font-style: normal;
	padding: 8px 12px;
	white-space:nowrap;
	overflow: hidden;
	background: #fff;
	border: 1px solid #e4eaec;

	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	transition: border-color 150ms ease;
	-webkit-transition: border-color 150ms ease;
}

.customfile .browse  {
	float: left;
	height: 34px;
	line-height: 17px;
	margin: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.customfile-hover .customfile-text {
	border-color: #60b7f4;
}

.customfile-hover .browse {
	background: #60b7f4;
}

/* New Ethernet States */
#ethPorts {
	position: relative;
	display: table;
	padding: 30px 10px;
	width: 100%;
	font-size: 12px;
}

#ethPorts .title {
	position: absolute;
	display: block;
	width: 64px;
	top: 10px;
	text-align: center;
}

#ethPorts .speed {
	position: absolute;
	display: block;
	width: 64px;
	bottom: 10px;
	text-align: center;
}

#ethPorts .eth {
	display:table-cell;
	z-index: 15;
	width: auto;
	padding: 0 10px;
	height: 48px;
}

#ethPorts .eth.off { background: url('/img/ethernet.x.svg') 20px center no-repeat; }
#ethPorts .eth.on { background:  url('/img/ethernet.svg') 20px center no-repeat; }
#ethPorts .eth.wan { width: 30%; }


/* Style Refresh timers */
.tomato-refresh {
	float: right;
	margin: 5px 0 10px 10px;
}

.tomato-refresh .spinner { margin-right: 10px; vertical-align: middle; }
.tomato-refresh select { padding: 7px 10px; width: 150px; vertical-align: middle; }

#refresh-spinner {
	vertical-align: middle;
	margin-top: -4px;
}


/* Retina Ready Icons */
[class*="icon-"] {
	display: inline-block;
	font-family: "advancedtomato" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class*="icon-"]:before {
	font-family: "advancedtomato" !important;
	font-weight: normal !important;
	display: inline-block;
	top: -1px;
	position: relative;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Colors */
.icon-white:before { color: #ffffff !important; }
.icon-green:before { color: green !important; }
.icon-red:before { color: red !important; }
.icon-blue:before { color: blue !important; }
.icon-orange:before { color: orange !important; }

/* Sizes */
.icon-medium:before { font-size: 15pt; margin: 0; vertical-align: baseline; }
.icon-sort:before { font-size: 11pt; margin-left: 5px; margin-top: -2px; }
.icon-large:before { font-size: 14px; margin-right: 3px; }

/* Fix VAlign */
.icon-normal:before { vertical-align: baseline; }
.icon-middle:before { vertical-align: middle; }
.icon-top:before { vertical-align: top; }

/* Icons */
.icon-chevron-left:before {
	content: "\e000";
}
.icon-chevron-right:before {
	content: "\e001";
}
.icon-chevron-up:before {
	content: "\e002";
}
.icon-chevron-down:before {
	content: "\e003";
}
.icon-reboot:before {
	content: "\e004";
}
.icon-logout:before {
	content: "\e005";
}
.icon-check:before {
	content: "\e006";
}
.icon-stop:before {
	content: "\e008";
}
.icon-play:before {
	content: "\e009";
}
.icon-tools:before {
	content: "\e00a";
}
.icon-drive:before {
	content: "\e00b";
}
.icon-disable:before {
	content: "\e00d";
}
.icon-globe:before {
	content: "\e00e";
}
.icon-search:before {
	content: "\e010";
}
.icon-arrow-up:before {
	content: "\e011";
}
.icon-arrow-down:before {
	content: "\e012";
}
.icon-forward:before {
	content: "\e013";
}
.icon-gauge:before {
	content: "\e015";
}
.icon-ping:before {
	content: "\e016";
}
.icon-cmd:before {
	content: "\e017";
}
.icon-minus:before {
	content: "\e019";
}
.icon-upload:before {
	content: "\e01a";
}
.icon-download:before {
	content: "\e01b";
}
.icon-system:before {
	content: "\e01c";
}
.icon-info:before {
	content: "\e014";
}
.icon-plus:before {
	content: "\e018";
}
.icon-clock:before {
	content: "\e023";
}
.icon-week:before {
	content: "\e022";
}
.icon-month:before {
	content: "\e024";
}
.icon-hour-glass:before {
	content: "\e025";
}
.icon-hourglass:before {
	content: "\e025";
}
.icon-shield:before {
	content: "\e021";
}
.icon-home:before {
	content: "\e026";
}
.icon-wrench:before {
	content: "\e028";
}
.icon-info-alt:before {
	content: "\e027";
}
.icon-align-left:before {
	content: "\e029";
}
.icon-power:before {
	content: "\e02a";
}
.icon-cancel:before {
	content: "\e02b";
}
.icon-signal:before {
	content: "\e00c";
}
.icon-graphs:before {
	content: "\e00f";
}
.icon-move:before {
	content: "\e007";
}
.icon-paypal:before {
	content: "\e01d";
}
.icon-warning:before {
	content: "\e01e";
}

.preloader {
	vertical-align: middle;
	margin: 0 10px;
}

/* Animate Page Loads & Changes */
@-webkit-keyframes ajax-animation {
	0%   { opacity: 0.5; filter: alpha(opacity=50); -webkit-transform: scale(0.99); }
	100% { opacity: 1; filter: alpha(opacity=100); -webkit-transform: scale(1); }
}
@keyframes ajax-animation {
	0%   { opacity: 0.5; filter: alpha(opacity=50); -webkit-transform: scale(0.99); transform: scale(0.99); }
	100% { opacity: 1; filter: alpha(opacity=100); -webkit-transform: scale(1); transform: scale(1); }
}

.ajax-animation {
	-webkit-animation: ajax-animation 350ms 1;
	animation:         ajax-animation 350ms 1;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;  /* Performance Improvement */
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);  /* Font Rendering FIX */
}

/* Pure CSS preloader */
.spinner {
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align: middle;

	border: solid 1px #3498DB;
	border-color: #3498DB #3498DB transparent transparent;
	border-width: 0 1px 1px;
	border-radius: 50%;

	-webkit-animation: tomato-spinner 600ms linear infinite;
	animation: tomato-spinner 600ms linear infinite;
}

.spinner.spinner-small {
	width: 12px;
	height: 12px;
}

.spinner.spinner-large {
	width: 36px;
	height: 36px;
	border-width: 0 3px 3px;

	-webkit-animation: tomato-spinner 1s linear infinite;
	animation: tomato-spinner 1s linear infinite;
}

/* Preloader */
#nprogress { pointer-events: none; -webkit-pointer-events: none; }
#nprogress .bar { 
	background: #3498DB;
	position: absolute;
	z-index: 99;
	top: 58px;
	left: 0;
	width: 0;
	height: 2px;
	-webkit-animation: nprogress-animation 5s linear 1;
	animation: nprogress-animation 5s linear 1;
}

@-webkit-keyframes nprogress-animation {
	0%   { width: 20%; }
	100% { width: 100%; }
}
@keyframes nprogress-animation {
	0%   { width: 20%; }
	100% { width: 100%; }
}

/* Responsive stuff */

@-webkit-keyframes tomato-spinner { 0%   { -webkit-transform: rotate(0deg); }  100% { -webkit-transform: rotate(360deg); } }
@keyframes tomato-spinner { 0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@media (max-width: 960px) {
	#wrapper > .container {
		padding: 5px 10px;
	}
	.links ul li a {
		font-size: 0;
	}
	.links ul li a i {
		font-size: 16px;
	}
	.system-ui:before, .system-ui:after {
		display: none;
	}
}
@media (min-width: 1200px) {
	.fluid-grid {
		-moz-column-count: 2;
		-moz-column-gap: 1%;
		-moz-column-width: 50%;
		-webkit-column-count: 2;
		-webkit-column-gap: 1%;
		-webkit-column-width: 50%;
		-webkit-column-count: 2;
		   -moz-column-count: 2;
		        column-count: 2;
		-webkit-column-gap: 1%;
		   -moz-column-gap: 1%;
		        column-gap: 1%;
		-webkit-column-width: 50%;
		   -moz-column-width: 50%;
		        column-width: 50%;
	}
	.fluid-grid.x3 {
		-moz-column-gap: 15px;
		     column-gap: 15px;
		-webkit-column-gap: 15px;
		-ms-column-gap: 15px;
		-o-column-gap: 15px;
		-webkit-column-count: 3 auto;
		   -moz-column-count: 3 auto;
		        column-count: 3 auto;
		-moz-columns: 3 auto;
		-webkit-column-count: 3 auto;
		-ms-column-count: 3 auto;
		-o-column-count: 3 auto;
	}
}
@media (max-height: 990px) {
	.navigation.collapsed li:hover ul {
		max-height: 240px;
		overflow-x: hidden;
		overflow-y: auto;
	}
}