Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
depcomp
ltmain.sh
missing
install-sh
Makefile
install-sh
.deps/
config.log
config.status
libnfsidmap.pc
libtool
.libs/
libnfsidmap.la
libnfsidmap_la-cfg.lo
libnfsidmap_la-libnfsidmap.lo
libnfsidmap_la-strlcpy.lo
nss.lo
nsswitch.la
static.la
static.lo
umich_ldap.la
umich_ldap.lo
configure.in~
m4/

