.top-header .logo {
    background: #16a085;
}

.top-header > .links > ul > li > a:hover,
.top-header > .links > ul > li a.active {
    /* border-color: #16a085; */
}

/* Hover & Active States */
.navigation li ul li.active a:after { background-color: #3498db; }

.navigation .active > a > i,
.navigation > ul > li > a:hover > i {
    color: #16a085;
}

a {
    color: #137662;
}

a:hover, a:active {
    color: #16a085;
}

/* Buttons */
.btn.btn-primary {
    color: #fff !important;
    background-color: #16a085;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background: #1abc9c;
}

.progress .bar {
    background: #16a085;
}

ul.nav-tabs li a.active {
    border-color: #16a085;
}

/* Inputs */
input:hover, select:hover, textarea:hover {
    border-color: #dfefec;
}

input:focus, select:focus, textarea:focus {
    border-color: #16a085;
}

.customfile-hover .customfile-text {
    border-color: #16a085;
}

/* Checkboxes */
.c-checkbox:hover span,
.c-checkbox input:hover + span,
.c-radio:hover span,
.c-radio input:hover + span {
    border-color: #16a085;
}

input[type=checkbox]:checked + span,
input[type=radio]:checked + span {
    border-color: #16a085;
    background-color: #16a085;
}

input[type=radio]:checked + span:before {
    color: #16a085;
}

/* Pure CSS preloader */
.spinner {
    border: solid 1px #16a085;
    border-color: #16a085 #16a085 transparent transparent;
}

/* Preloader */
#nprogress .bar { background: #16a085; }